.task-stdout,
.task-stderr {
  font-family: 'Input', 'Menlo', monospace;
  font-size: 12px;
}

.task-section textarea {
  line-height: 1.15;
  padding: 1rem;
}

.task-stderr {
  color: #c82829;
}

.task-section .k-icon-loader {
  animation: Spin .9s linear infinite;
}

.task-section nav {
  border-bottom: 1px solid #2d2f36;
  display: flex;

  border-color: #efefef;
}

.task-section nav button {
  padding: 8px 20px 12px 20px;
  border-right: 1px solid #2d2f36;

  border-color: #efefef;
}

.task-console {
  border-radius: 1px;
  background: #16171a;
  background: #fff;
  overflow: hidden;
  color: #fff;
  color: #16171a;
  box-shadow: 0 2px 5px rgba(22,23,26,.05);
}

/* .task-section nav button + button {
  color: #4271ae;
  color: #c82829;
  color: #d16464;
  color: #fff;
  font-weight: 700;
} */

.task-section nav button + button .k-icon {
  color: #4271ae;
}

.task-section nav .k-icon {
  display: none;

  position: absolute;
  height: 8px;
  width: 8px;
  left: 18px;
  top: 17px;

  color: #777;

}
