.task-stdout,
.task-stderr {
  font-family: 'Input', 'Menlo', monospace;
  font-size: 12px;
}

.task-section textarea {
  line-height: 1.15;
  padding: 1rem;
}

.task-stderr {
  /* color: #c82829; */
}

.task-section .k-icon-loader {
  animation: Spin .9s linear infinite;
}

.task-section nav {
  border-bottom: 1px solid #2d2f36;
  display: flex;

  /* border-color: #efefef; */
}

.task-section nav button {
  padding: 8px 20px 12px 20px;
  border-right: 1px solid #2d2f36;

  /* border-color: #efefef; */
}

.task-terminal {
  border-radius: 1px;
  background: #16171a;
  /* background: #000; */
  /* background: #fff; */
  overflow: hidden;
  color: #fff;
  /* color: #16171a; */
  box-shadow: 0 2px 5px rgba(22,23,26,.05);
}

.task-terminal code {
  white-space: pre-wrap;
  line-height: 1.15;
  padding: 1rem;
  display: block;
}

/* .task-section nav button + button {
  color: #4271ae;
  color: #c82829;
  color: #d16464;
  color: #fff;
  font-weight: 700;
} */

.task-section nav button + button .k-icon {
  color: #4271ae;
}

.task-section nav .k-icon {
  display: none;

  position: absolute;
  height: 8px;
  width: 8px;
  left: 18px;
  top: 17px;

  color: #777;
}


.task-terminal {
  --black: #16171a;
  --red: #f27979;
  --green: #c7ee6e;
  --yellow: #fae057;
  --blue: #6099e3;
  --magenta: #e57cf2;
  --cyan: #8ae8f2;
  --white: #efefef;

  --bright-black: #ccc;
  --bright-red: var(--red);
  --bright-green: var(--green);
  --bright-yellow: var(--yellow);
  --bright-blue: var(--blue);
  --bright-magenta: var(--magenta);
  --bright-cyan: var(--cyan);
  --bright-white: var(--white);

  /* --black: #16171a;
  --red: #d16464;
  --green: #a7bd68;
  --yellow: #f5871f;
  --blue: #4271ae;
  --magenta: #9828b1;
  --cyan: #25c4cf;
  --white: #fff;

  --bright-black: #767676;
  --bright-red: #e74856;
  --bright-green: #16c60c;
  --bright-yellow: #f9f1a5;
  --bright-blue: #3b78ff;
  --bright-magenta: #b4009e;
  --bright-cyan: #61d6d6;
  --bright-white: #f2f2f2;

  --black: #0c0c0c;
  --red: #c50f1f;
  --green: #13a10e;
  --yellow: #c19c00;
  --blue: #0037da;
  --magenta: #881798;
  --cyan: #3a96dd;
  --white: #cccccc;

  --bright-black: #767676;
  --bright-red: #e74856;
  --bright-green: #16c60c;
  --bright-yellow: #f9f1a5;
  --bright-blue: #3b78ff;
  --bright-magenta: #b4009e;
  --bright-cyan: #61d6d6;
  --bright-white: #f2f2f2; */

}

.task-terminal .term-bold {
  font-weight: bold;
}

.task-terminal .term-italic {
  font-style: italic;
}

.task-terminal .term-underline {
  text-decoration: underline;
}

.task-terminal .term-conceal {
  visibility: hidden;
}

.task-terminal .term-cross {
  text-decoration: line-through;
}

.task-terminal .term-fg-black {
  color: var(--black);
}

.task-terminal .term-fg-red {
  color: var(--red);
}

.task-terminal .term-fg-green {
  color: var(--green);
}

.task-terminal .term-fg-yellow {
  color: var(--yellow);
}

.task-terminal .term-fg-magenta {
  color: var(--magenta);
}

.task-terminal .term-fg-cyan {
  color: var(--cyan);
}

.task-terminal .term-fg-white {
  color: var(--white);
}


.task-terminal .term-fg-bright-black {
  color: var(--bright-black);
}

.task-terminal .term-fg-bright-red {
  color: var(--bright-red);
}

.task-terminal .term-fg-bright-green {
  color: var(--bright-green);
}

.task-terminal .term-fg-bright-yellow {
  color: var(--bright-yellow);
}

.task-terminal .term-fg-bright-magenta {
  color: var(--bright-magenta);
}

.task-terminal .term-fg-bright-cyan {
  color: var(--bright-cyan);
}

.task-terminal .term-fg-bright-white {
  color: var(--bright-white);
}


.task-terminal .term-bg-black {
  background: var(--black);
}

.task-terminal .term-bg-red {
  background: var(--red);
}

.task-terminal .term-bg-green {
  background: var(--green);
}

.task-terminal .term-bg-yellow {
  background: var(--yellow);
}

.task-terminal .term-bg-magenta {
  background: var(--magenta);
}

.task-terminal .term-bg-cyan {
  background: var(--cyan);
}

.task-terminal .term-bg-white {
  background: var(--white);
}


.task-terminal .term-bg-bright-black {
  background: var(--bright-black);
}

.task-terminal .term-bg-bright-red {
  background: var(--bright-red);
}

.task-terminal .term-bg-bright-green {
  background: var(--bright-green);
}

.task-terminal .term-bg-bright-yellow {
  background: var(--bright-yellow);
}

.task-terminal .term-bg-bright-magenta {
  background: var(--bright-magenta);
}

.task-terminal .term-bg-bright-cyan {
  background: var(--bright-cyan);
}

.task-terminal .term-bg-bright-white {
  background: var(--bright-white);
}
