.terminal-section {
  --terminal-section-backgrond: #fff;
  --terminal-section-border: #efefef;
  --terminal-section-color: #16171a;
}

.terminal-section-dark {
  --terminal-section-backgrond: #16171a;
  --terminal-section-border: #2d2f36;
  --terminal-section-color: #fff;
}

.terminal-section .k-icon-loader {
  animation: Spin 0.9s linear infinite;
}

.terminal-dialog > .k-dialog-body > .k-text + .k-form {
  margin-top: 1.25rem;
}

.terminal-output {
  border-radius: 1px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
  background: var(--terminal-section-backgrond);
  box-shadow: 0 2px 5px rgba(22, 23, 26, 0.05);
  overflow: hidden;
  color: var(--terminal-section-color);
}

.terminal-output pre {
  overflow-x: hidden;
  overflow-y: auto;
  height: 300px;
}

.terminal-output code {
  white-space: pre-wrap;
  line-height: 1.1;
  font-size: 12px;
  display: block;
  padding: 0.75rem;
}

.terminal-output {
  --black: #16171a;
  --red: #f27979;
  --green: #c7ee6e;
  --yellow: #fae057;
  --blue: #6099e3;
  --magenta: #e57cf2;
  --cyan: #8ae8f2;
  --white: #efefef;

  --bright-black: #ccc;
  --bright-red: var(--red);
  --bright-green: var(--green);
  --bright-yellow: var(--yellow);
  --bright-blue: var(--blue);
  --bright-magenta: var(--magenta);
  --bright-cyan: var(--cyan);
  --bright-white: var(--white);
}

.terminal-output .term-bold {
  font-weight: bold;
}

.terminal-output .term-faint {
  opacity: 0.5;
}

.terminal-output .term-italic {
  font-style: italic;
}

.terminal-output .term-underline {
  text-decoration: underline;
}

.terminal-output .term-conceal {
  visibility: hidden;
}

.terminal-output .term-cross {
  text-decoration: line-through;
}

.terminal-output .term-fg-black {
  color: var(--black);
}

.terminal-output .term-fg-red {
  color: var(--red);
}

.terminal-output .term-fg-green {
  color: var(--green);
}

.terminal-output .term-fg-yellow {
  color: var(--yellow);
}

.terminal-output .term-fg-blue {
  color: var(--blue);
}

.terminal-output .term-fg-magenta {
  color: var(--magenta);
}

.terminal-output .term-fg-cyan {
  color: var(--cyan);
}

.terminal-output .term-fg-white {
  color: var(--white);
}

.terminal-output .term-fg-bright-black {
  color: var(--bright-black);
}

.terminal-output .term-fg-bright-red {
  color: var(--bright-red);
}

.terminal-output .term-fg-bright-green {
  color: var(--bright-green);
}

.terminal-output .term-fg-bright-yellow {
  color: var(--bright-yellow);
}

.terminal-output .term-fg-bright-blue {
  color: var(--bright-blue);
}

.terminal-output .term-fg-bright-magenta {
  color: var(--bright-magenta);
}

.terminal-output .term-fg-bright-cyan {
  color: var(--bright-cyan);
}

.terminal-output .term-fg-bright-white {
  color: var(--bright-white);
}

.terminal-output .term-bg-black {
  background: var(--black);
}

.terminal-output .term-bg-red {
  background: var(--red);
}

.terminal-output .term-bg-green {
  background: var(--green);
}

.terminal-output .term-bg-yellow {
  background: var(--yellow);
}

.terminal-output .term-bg-blue {
  background: var(--blue);
}

.terminal-output .term-bg-magenta {
  background: var(--magenta);
}

.terminal-output .term-bg-cyan {
  background: var(--cyan);
}

.terminal-output .term-bg-white {
  background: var(--white);
}

.terminal-output .term-bg-bright-black {
  background: var(--bright-black);
}

.terminal-output .term-bg-bright-red {
  background: var(--bright-red);
}

.terminal-output .term-bg-bright-green {
  background: var(--bright-green);
}

.terminal-output .term-bg-bright-yellow {
  background: var(--bright-yellow);
}

.terminal-output .term-bg-bright-blue {
  background: var(--bright-blue);
}

.terminal-output .term-bg-bright-magenta {
  background: var(--bright-magenta);
}

.terminal-output .term-bg-bright-cyan {
  background: var(--bright-cyan);
}

.terminal-output .term-bg-bright-white {
  background: var(--bright-white);
}
